@font-face {
	font-family: 'AvenirNextLTPro-Demi';
	src: url('AvenirNextLTPro-Demid41dd41dd41dd41d.eot?#iefix') format('embedded-opentype'),
	     url('AvenirNextLTPro-Demi.otf') format('opentype'),  
		 url('AvenirNextLTPro-Demi.woff') format('woff'),  
		 url('AvenirNextLTPro-Demi.ttf') format('truetype'),  
		 url('AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
	font-weight: normal;
	font-style: normal;
}
::-moz-selection { 
	background: #202b7b; 
	color:#fff;
}
::-webkit-selection { 
	background: #202b7b; 
	color:#fff;
}
::selection { 
	background: #202b7b; 
	color:#fff;
}

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: bottom;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.clr{
	clear:both;
}
em{
	font-style:italic;
}
html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
a{
	text-decoration:none;
	color:inherit;
}
a:hover{
	text-decoration:underline;
}
strong{
	font-weight:bold;
}
body{
	background:#fff;
	font-family: sans-serif;
	color:#000;
}
.wrapper{
	width: 1100px;
	margin: 0 auto;
	position:relative;
}
header {
    float: left;
	width:100%
}
.logo {
    float: left;
    padding:  0 0;
    width:140px;
}


.p2{
color: green;
 float: left;
font-size: 36px;
margin-top: 15px;
font-family:Verdana, Arial, Helvetica, sans-serif;
word-spacing:5px;
margin-top:15px;

}
.p3{
color:green;
float:left;
margin:26px -143px;

}

.p4{
	color: green;
    float: left;
    font-size: 11px;
    margin-left: -143px;
    margin-top: 46px;}
.tag-line {
    float: left;
    margin: 30px 80px 0 140px;
    width: 310px;
}
.tag-line p {
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
}
.call-us {
    background: url("../images/call.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    float: right;
    width: 290px;
	padding:15px 22px;
}
.call-us p {
    float: right;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}
.call-us span {
    font-size: 20px;
}

.call-us p a {
    color: #2f2f2f;
    text-decoration: none;
}
nav{
	border-bottom:3px solid green;
	width: 100%;
	float:left;
	background-color: #EDB719; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

}
nav ul{
	padding:0;
	margin:0;
	list-style:none;
	position:relative;
}
nav ul li{
	float:left;
}
nav ul li:hover{
	
	
}
nav ul li a{
	padding: 15px 20px;
	font-size: 18px;
	color:#fff;
	display:block;
}
nav ul li a:hover{
	text-decoration:none;
	color:#000000;
}
nav ul li:hover ul{
	display:block
}
nav ul li ul{
	display:none;
	position:absolute;
	background:#EDB719;
	z-index:999;
}
nav ul li ul li {
    float:none;
	border-bottom:1px dotted #f8d326;
}
nav ul li ul li a{
	font-size:14px;
	padding: 10px 15px;
}
nav ul li ul li a:hover {
	color:#000000;
}
.banner {
    float: left;
    width: 100%;
}
.box{
	width:31%;
	float:left;
	box-shadow:0px 1px 1px 0px #949494;
	margin: 3% 1%;
}
h1{
	color:#202b7b;
	font-family: 'AvenirNextLTPro-Demi';
	font-size:24px;
	margin-bottom: auto !important;
	margin-top:0px;
}
.box h2{
	padding:2%;
	text-align:center;
	background:#edb719;
	font-family: 'AvenirNextLTPro-Demi';
	font-size:20px;
	color:#fff;
	display:block;
	border-bottom:2px solid green;
}
.box img{
	display:block;
	width: 100%;
}
.box p{
	text-align:justify;
	padding:5%;
	font-size:14px;
	line-height:20px;
}

.box a {
    float: right;
}



.box p a{
	display:block;
	text-align:center;
	color:#202b7b;
	font-weight:bold;
}
.matter{
	width: 66%;
	float:left;
	padding:1% 4% 1% 0;
}
.matter h2{
	color:#202b7b;
	font-family: 'AvenirNextLTPro-Demi';
	font-size:20px;
	margin-top:15px !important
}
.matter h3{
	color:#202b7b;
	font-family: 'AvenirNextLTPro-Demi';
	font-size:20px;
	margin-top:15px !important
}

.matter p{
	padding:1% 0;
	color:#242424;
	font-size:14px;
	line-height:20px;
	text-align:justify;
}
.matter p a{
	font-weight:bold;
	color: #202b7b;
}
aside{
	width:30%;
	float:right;
}
.form{
	width:96%;
	float:left;
	box-shadow:0px 0px 2px #949494;
	padding: 2%;
}
.form h3{
	color:#202b7b;
	font-family: 'AvenirNextLTPro-Demi';
	font-size:22px;
	text-align:center;
	line-height:28px;
}
.form h3 span{
	color:#666;
	font-size:15px;
	display:block;
	text-align:center;
}
.form input{
	padding:3%;
	display:block;
	background:#eee;
	color:#000;
	width:88%;
	margin:3%;
	border: 1px solid #f8d326;
	font-size:14px;
}

.form textarea{
	padding:3%;
	display:block;
	background:#eee;
	color:#000;
	width:88%;
	margin:3%;
	border: 1px solid #f8d326;
	font-size:14px;
}

.form .submit{
	display:block;
	background:#202b7b;
	color:#fff;
	width:94%;
	margin:5% 3% 2%;
	border: 0;
	font-size:18px;
	cursor:pointer;
}
.form .submit:hover{
	background:#000000;
	color:#fff;
	transition: all 1s ease-out ;
}
.form p{
	color:#666;
	font-size:14px;
	display:block;
	padding: 0 3%;
}

.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	padding: 8px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	background: #202b7b;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
		margin: 0 0 0.5% 0;
}
.ac-container label:hover{
	background: #4a4a4a;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #4a4a4a;
	color: #fff;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	color: #000;
	line-height: 24px;
	font-size: 14px;
	padding: 10px 20px;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 200px;
}
.testimonials{
	width:96%;
	float:left;
	padding: 2%;
	margin: 0 0 2%;
}
.testimonials h3{
	color:#202b7b;
	font-family: 'AvenirNextLTPro-Demi';
	font-size:22px;
	text-align:center;
	line-height:28px;
}
.testimonials h4{
	background:url(../images/arrow.png) no-repeat 40px bottom;
	color:#242424;
	font-size:13px;
	padding:15px 0;
	font-weight:bold;
}
.testimonials h4 span{
	display:block;
	color: #666;
	font-size:12px;
}
.testimonials p{
	background:#4a4a4a;
	color:#FFF;
	line-height:20px;
	font-size:12px;
	padding:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	text-align:justify;
}
.blue-bg{
	background:#202b7b;
}
.gray-bg{
	background: #5a5a5a;
	text-align:center;
}
.gray-medium-bg{
	background: #4a4a4a;
	text-align:center;
}
.gray-dark-bg{
	background: #3e3e3e;
	text-align:center;
}
.step-box{
	width:21%;
	float:left;
	padding: 2%;
}
.step-box h3{
	font-size:22px;
	font-weight: 500;
    line-height: 1.2;
	color:#fff;
}
.step-box h3 strong{
	display: block;
    font-size: 110%;
}
.step-box p{
	font-size:12px;
	line-height:18px;
	color:#FFF;
	padding:10px 0;
}
.icon {
    margin: 10px 0;
	color: #fff;
    text-align: center;
	height:60px;
}
.gray-background{
	background: #3e3e3e;
	width: 100%;
	float:left;
	padding:20px 0;
	margin:40px 0 0;
}
.bullet{
	width: 100%;
	float:left;
	margin: 0 0 20px;
}
.bullet h4{
	color:#f8d326;
	font-size:18px;
}
.bullet ul{
	padding: 5px;
	margin:10px 30px;
	list-style:disc;
	width:18%;
	float:left;
}
.bullet ul li{
	color: #fff;
	font-size:12px;
	line-height:18px;
}
.bullet ul li a{
	margin:5px 0;
	color: #fff;
}
footer{
	width: 100%;
	float:left;
	padding: 0px 0;
	background:#242424;
}
.container {
    float: left;
    margin: 25px 15px 0;
    width: 22%;
}
.container h5 {
    border-bottom: 1px solid #f8d326;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.container ul li img {
    margin: 0 5px 0 0;
}
.map img{
    width: 100%;
}
.social-icon {
 	float: left;
    left: 0;
    margin-top: -67px;
    text-align: center;;
}
.social-icon ul {
    list-style: outside none none;
    margin: 0;
    padding: 10px;
}
.social-icon ul li {
    float: left;
    padding: 5px;
	transition:all 0.8s ease-in-out 0s
}
.social-icon ul li:hover {
	transform: rotate(360deg);
}
.container ul {
    list-style: outside none none;
    margin: 0;
    padding: 10px 5px 0;
}
.container ul li {
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0;
}
.container ul li p{
    display: block;
    margin-left: 10%;
}
.bottom{
	width: 100%;
	float:left;
	background: #000;
	padding:10px 0;
}
.btm-left {
    color: #fff;
    float: left;
    font-size: 12px;
    width: 45%;
	padding-left:17px;
}

.btm-right {
    color: #fff;
    float: right;
    font-size: 12px;
    text-align: right;
    width: 45%;
	padding-right:25px;
}
.points{
	width: 97%;
	float:left;
	padding:2px 0 5px 3%;
}
.points ul{
	padding:0;
	margin:0;
}
.points ul li{
	font-size:14px;
	line-height:20px;
	text-align:justify;
	margin:5px 0 5px 5px;
	list-style:url(../images/red_bullet.png);
}
.points ul li a{
	color:#A45013;
    text-decoration:none;
    cursor:pointer;
}
}
.points ul li span{
	color:#202b7b;
	font-weight:bold;
}
.inner-banner{
	width:100%;
	float:left;
	margin: 0 0 20px;
	height:200px;
	background:url(../images/inner-banner.jpg) no-repeat;
}
.inner-banner h2{
	color:#202b7b;
	font-family: 'AvenirNextLTPro-Demi';
	font-size:40px;
}
.inner-banner .title{
	font-size: 32px;
}
.inner-banner span{
	display:block
}
.pad-ban{
	padding:80px 0 0 30px;
}
.left-portion {
    float: left;
    width: 45%;
}
.left-portion h3 {
    font-size: 30px;
  	line-height:60px;
	color:#202b7b;
}
.left-portion input, .left-portion textarea {
    background: none repeat scroll 0 0 #e7e7e7;
    border: 0 none;
    color: #000;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px;
    width: 90%;
}
.left-portion .submit {
    background: none repeat scroll 0 0 #202b7b;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 20px;
    margin: 20px 0;
    padding: 15px 50px;
    text-transform: uppercase;
    width: auto;
}
.left-portion .submit:hover {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    transition: all 2s ease 0s;
}
.right-portion {
    float: right;
    width: 45%;
}
.right-portion h3 {
    font-size:24px;
    line-height:50px;
	color:#202b7b;
}
.right-portion iframe {
    margin: 10px 0;
}
.right-portion p{
	font-size:16px;
	line-height:22px;
	padding-bottom:20px;
}
.right-portion p span{
	color:#202b7b;
	font-weight:bold;
}
.right-portion img{
    margin: 10px 0;
	width: 100%;
}
.add{
	width: 100%;
	float:left;
	padding:20px 0;
}
.add ul{
	padding:0;
	margin:0;
}
.add ul li{
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	padding:15px;
	width:22%;
	font-size:14px;
	line-height:20px;
}
.add ul li span{
	color:#202b7b;
	font-weight:bold;
	display:block;
}
fieldset{
	border:1px solid #F8D326;
	padding: 10px;
	width: 94%;
	margin: 2%;
	color: #242424;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
legend{
	color: #202b7b;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 18px;
}
#nav {
    display: none;
}

@media screen and (max-width:1100px){
.wrapper{ 
	width:100%;
}
.logo{
	width:25%;
	
}
.logo img{
	width:100%;
}
.tag-line {
    float: left;
    margin: 4% 0 0 4%;
    width: 30%;
}
.tag-line p {
    font-size: 14px;
}
.call-us {
    background: url("../images/call.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    float: right;
    padding: 10px 2%;
    width: 32%;
}
.call-us p {
    float: right;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
.call-us p {
    float: right;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
nav ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
}
.matter {
    float: left;
    padding: 1% 2%;
    width: 66%;
}
.box{
	height:380px;
}
aside {
    float: right;
    margin: 0 1% 0 0;
    width: 29%;
}
.ac-container input:checked ~ article.ac-small {
    height: 170px;
}
.ac-container input:checked ~ article.ac-medium {
    height: 220px;
}
.ac-container input:checked ~ article.ac-large {
    height: 250px;
}
.step-box {
    float: left;
    height: 280px;
    padding: 2%;
    width: 21%;
}
.bullet {
    float: left;
    margin: 0 0 20px 2%;
    width: 98%;
}

.bullet ul {
    float: left;
    list-style: outside none disc;
    margin: 2%;
    padding: 0;
    width: 21%;
}
.social-icon {
    left: 35%;
}
.container {
    float: left;
    margin: 25px 2% 0;
    width: 21%;
}
.bullet ul li {
    color: #fff;
    font-size: 11px;
    line-height: 18px;
}
.container h5 {
    font-size: 12px;
}
.map img, .inner-banner img{
	width: 100%;
}
.container ul li {
    font-size: 11px;
}
.btm-left {
    margin: 0 0 0 2%;
    width: 48%;
	font-size: 11px;
}
.btm-right {
    margin: 0 2% 0 0;
    width: 48%;
	font-size: 11px;
}
.logo {
    padding: 25px 10px;
    width: 25%;
}
.inner-banner {
    background: url("../images/inner-banner.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    float: left;
    height: 140px;
    margin: 0 0 20px;
    width: 100%;
}
.matter p {
    font-size: 13px;
}
.inner-banner h2 {
    color: #202b7b;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 30px;
}
.pad-ban {
    padding: 50px 0 0 20px;
}
.matter h2, .right-portion h3, .left-portion h3 {
    font-size: 22px;
}
.matter h3 {
    font-size: 18px;
}
.form h3 {
    font-size: 16px;
}
.inner-banner .title {
    font-size: 22px;
}
legend {
    font-size: 16px;
}
.left-portion {
    margin: 0 0 0 2%;
}
.right-portion {
    margin: 0 4% 0 0;
}
.add ul li {
    padding: 10px;
    width: 22%;
}
.points ul li {
    font-size: 13px;
}
#nav {
    display: none;
}
fieldset {
    border: 1px solid #f8d326;
    color: #242424;
    font-size: 14px;
    line-height: 20px;
    margin: 2%;
    padding: 10px;
    text-align: justify;
    width: 90%;
}

}
@media screen and (max-width:710px){
.tag-line, nav{
	display:none;
}
.logo {
    display: block;
    padding: 5% 15% 0;
    width: 70%;
}
.call-us {
    display: block;
    margin: 2% 10% 0;
    width: 80%;
}
.box {
    margin: 3%;
    width: 94%;
}
.matter {
    display: block;
    padding: 5%;
    width: 90%;
}
.matter p {
    font-size: 13px;
	padding: 2% 0; 
}
.ac-container input:checked ~ article.ac-small {
    height: 290px;
}
.ac-container input:checked ~ article.ac-medium {
    height: 360px;
}
.ac-container input:checked ~ article.ac-large {
    height: 420px;
}
.step-box {
    display: block;
    height: 180px;
    padding: 5%;
    width: 90%;
}
aside {
    display: block;
    margin: 0 5%;
    width: 90%;
}
.bullet ul {
    float: left;
    list-style: outside none disc;
    margin: 0 5%;
    padding: 0;
    width: 90%;
}
.bullet ul li {
    font-size: 13px;
}
.bullet h4 {
    line-height: 30px;
}
.social-icon {
    left: 10%;
}
.container {
    float: left;
    margin: 25px 5% 0;
    width: 90%;
}
.btm-left {
    font-size: 10px;
    margin: 0 0 0 2%;
    width: 98%;
	text-align: center;
}
.btm-right {
    font-size: 11px;
    margin: 0 2% 0 0;
    text-align: center;
    width: 98%;
}
.inner-banner h2 {
    font-size: 16px;
    text-shadow: 0 0 2px #fff;
}
.pad-ban {
    padding: 16px 0 0 10px;
}

.inner-banner {
    height: 58px;
    margin: 0;
}

.inner-banner .title {
    font-size: 16px;
    text-shadow: 0 0 2px #fff;
}
#nav {
    display: block;
}
#nav {
    float: left;
    position: relative;
    width: 100%;
    z-index: 99;
		background: #202b7b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwMmI3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTBjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #202b7b 0%, #010c5c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202b7b), color-stop(100%,#010c5c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #202b7b 0%,#010c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #202b7b 0%,#010c5c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #202b7b 0%,#010c5c 100%); /* IE10+ */
background: linear-gradient(to bottom, #202b7b 0%,#010c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202b7b', endColorstr='#010c5c',GradientType=0 ); /* IE6-8 */
	border-bottom:1px solid #f8d326;

}
#nav > a {
    display: none;
}
#nav li {
    list-style: outside none none;
    position: relative;
    width: 100%;
}
#nav li a {
    color: #fff;
    display: block;
}
#nav li a:active {
    background-color: #eee !important;
    color: #000;
}
#nav span:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff transparent -moz-use-text-color;
    border-image: none;
    border-left: 0.313em solid transparent;
    border-right: 0.313em solid transparent;
    border-style: solid solid none;
    border-width: 0.313em 0.313em medium;
    content: "";
    display: inline-block;
    height: 0;
    position: relative;
    right: -0.313em;
    vertical-align: middle;
    width: 0;
}
#nav > ul {
    background-color: #202b7b;
    border-bottom: 1px solid #f8d326;
    border-top: 1px solid #f8d326;
    height: 3.75em;
    z-index: 9999;
}
#nav > ul > li {
    float: left;
    height: 100%;
    list-style: outside none none;
    width: 25%;
}
#nav > ul > li > a {
    font-size: 0.9em;
    height: 100%;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;
}
#nav > ul > li:not(:last-child) > a {
    border-right: 1px solid #f8d326;
}
#nav > ul > li:hover > a, #nav > ul:not(:hover) > li.active > a {
    background-color: #004e89;
}
#nav li ul {
    background-color: #004e89;
    display: none;
    padding-top: 0;
    position: static;
    z-index: 9999;
}
#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
}
#nav li:hover:not(:first-child) ul {
    left: -1px;
    margin: 0;
    padding: 0;
}
#nav li ul a {
    background-color: #004e89;
    font-size: 0.9em;
    padding: 0.3em 0.75em;
    text-decoration: none;
}
#nav li ul li a:hover, #nav li ul:not(:hover) li.active a {
    background-color: #202b7b;
    color: #fff;
}
#nav > a {
    color: #fff;
    font-size: 1em;
	padding:3% 0;
    position: relative;
    text-align: center;
    text-decoration: none;
}
#nav > a:before, #nav > a:after {
    content: "";
    left: 25%;
    position: absolute;
    right: 25%;
    top: 5%;
}
#nav > a:after {
    top: 60%;
}
#nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type {
    display: block;
}
#nav > ul {
    display: none;
    height: auto;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
}
#nav:target > ul {
    display: block;
}
#nav > ul > li {
    float: none;
    width: 100%;
}
#nav > ul > li > a {
    height: auto;
    padding: 0 0.833em;
    text-align: left;
}
#nav > ul > li:not(:last-child) > a {
    border-bottom: 1px solid #f8d326;
    border-right: medium none;
}
fieldset {
    border: 1px solid #f8d326;
    color: #242424;
    font-size: 13px;
    line-height: 18px;
    margin: 5% 2%;
    padding: 10px;
    text-align: justify;
    width: 88%;
}
legend {
    font-size: 14px;
}
.container:nth-of-type(3){
	margin: 0 5%
}
.container:nth-of-type(3) h5{
	display:none;
}
.container:nth-of-type(3) ul{
	padding:0px 5px 0;
}
.container ul li {
    font-size: 13px;
}
.container h5 {
    font-size: 16px;
}
.matter h3 {
    font-size: 16px;
	padding: 2% 0;
}
.points {
    float: left;
    padding: 2px 0 5px 6%;
    width: 94%;
}
.matter h2, .right-portion h3, .left-portion h3 {
    font-size: 18px;
}
.ac-container article p {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 20px;
}
.ac-container input:checked ~ article.ac-small {
    height: 220px;
}
.ac-container input:checked ~ article.ac-medium, .ac-container input:checked ~ article.ac-large {
    height: 300px;
}
.left-portion, .right-portion {
    margin: 0 5%;
    width: 90%;
	display:block;
}
.add ul li {
    padding: 5%;
    width: 90%;
	border-bottom: 1px dotted #000;
}
.add ul li:last-child {
	border-bottom:0;
}
.right-portion p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
}
.left-portion .submit {
	margin: 0 auto;
    padding: 5% 0;
    width: 100%;
}

.ac-container label {
	font-size:14px; 
}


}

.webname {
  float: left;
  text-align: center;
  width: 570px;
  padding:10px;
}